@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

input{
    padding: 6px;
    width: 350px;
    margin: 10px 0 10px;
    border-radius: 10px;
	height: 20px;
    background-color: #383838;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    transition: 0.5s;
}

input:focus{
    transition: 0.5s;
    background-color: #404040;
}

button:hover{
    cursor: pointer;
    background-color: #5409b5;
    transition: 0.5s;
}

button{
    padding: 4px;
    margin-top: 25px;
    width: 70%;
    height: 35px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: #6422bb;
    color: white;
    font-size: 15px;
    transition: 0.5s;
}

button:hover{
    cursor: pointer;
    background-color: #5409b5;
    transition: 0.5s;
}

button:disabled{
    background-color: #442d66;
    color: #828282;
    cursor: default;
}

input, button{
    border: none;
    outline: none;
}

.sign-up{
    background-color: #262626;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 460px;
    width: 530px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 40px;
}

.progress {
    margin: 0 auto;
    padding: 2px;
    width: 100%;
    max-width: 350px;
    border: 1px #404040 solid;
    height: 5px;
}

.progress #progress_bar {
    height: 100%;
    width: 0%;
    background-color: #05e35e;
    transition: width 0.5s;
}

#title{
    margin-bottom: 35px;
}

#particles-js{
    height: 99vh;
}

#log{
    padding-top: 10px;
}

#password-meter{
    font-size: 14px;
}

#key{
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.fadeIn {
    animation: fadeIn 1s;
  }
  